<!-- <app-products></app-products> -->
<mat-toolbar color="warn" >
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    routerLink="about" routerLinkActive="active"
  >
    <mat-icon>whatshot</mat-icon>
  </button>
  <span>Angular Practice</span>
  <!-- <span class="example-spacer"></span> -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link" routerLink="/home" routerLinkActive="active"
        >Home</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/product" routerLinkActive="active"
        >Product</a
      >
    </li>
    </ul>
  <!-- <button mat-raised-button color="warn" (click)="openDialog()">Add Product</button> -->
</mat-toolbar>


      <router-outlet></router-outlet>

